@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#outerOfMain{
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#main{
  width: 90%;
  margin: 0 auto;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
}

#databasesBar{
  flex-grow: 1;
  overflow-y: auto;
  max-height: 90vh;
}
